.advantages {
    min-height: 470px;
    padding: 70px 0 82px 0;
    &__mainheader {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #0D0D0D;
        text-align: center;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__header {
        font-weight: bold;
        font-size: 18px;
        color: #0D0D0D;
        text-align: center;
        margin-top: 30px;
    }
    &__subheader {
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
    }
}