.review {
    min-height: 930px;
    padding: 80px 0 48px 0;
    &__content {
        margin-top: 70px;
        display: flex;
    }
    &__photo {
        display: block;
        width: 169px;
        height: 169px;
    }
    &__descr {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__name {
        color: #0D0D0D;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        span {
            color: #646464;
            font-weight: 500;
            font-size: 14px;
        }
    }
    &__text {
        margin-top: 10px;
        color: #0D0D0D;
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
    }
}